//- button
mixin btn(element, text, style='default', type='button')
    if element === 'a'
        if url === '#'
            a(id=id, class=`btn btn-${style}`, type=type, role='button')&attributes(attributes)= text
                block
        else
            a(id=id, class=`btn btn-${style}`, type=type, href=url)&attributes(attributes)= text
                block
    else if element === 'button'
        button(id=id, class=`btn btn-${style}`, type=type)&attributes(attributes)= text
            block
    else
        input(id=id, class=`btn btn-${style}`, type=type, value=text)&attributes(attributes)

mixin btn-button-success(text, style='success', type='button')
    +btn('button', text, style)&attributes(attributes)
        block

mixin btn-close(text = '关 闭', type='button')
    +btn('button', '')(data-dismiss='modal', aria-label='Close', class='close')&attributes(attributes)
        span(aria-hidden='true') &times;
        span.sr-only= text
