include icons

//- 表单默认结构
mixin default-form-group(id, label)
    .form-group
        if label
            label.col-md-2.control-label(for=id)= label
        else
            .col-md-2
        .col-md-6
            if block
                block

mixin label-text-input(id, label, placeholder, help_text, required, addon)
    - input_blocks = attributes.input_blocks || {}
    block
    -
        if(!attributes.input_blocks)
            attributes.input_blocks = input_blocks
    +default-form-group(id, label)
        +text-input(id, placeholder, help_text, required, addon)&attributes(attributes)
    - input_blocks = {}

//- 输入框
mixin text-input(id, placeholder, help_text, required, addon)
    - input_blocks = attributes.input_blocks || {}
    block
    -
        if(!attributes.input_blocks)
            attributes.input_blocks = input_blocks
    +input(id, 'text',placeholder, help_text, required, addon)&attributes(attributes)

mixin input(id, type, placeholder, help_text, required, addon)
    -
        input_blocks = attributes.input_blocks || {}
        type = type || 'text'
    block
    if addon || input_blocks['head'] || input_blocks['tail']
        .input-group
            - var head = !!addon ? (addon.head ? addon.head : input_blocks['head']) : input_blocks['head']
            if head
                if (typeof head) == 'function'
                    .input-group-addon&attributes(input_blocks['head_attrs'])
                        - head()
                else
                    .input-group-addon&attributes(input_blocks['head_attrs'])= head
            input.form-control(id=id, type=type, required=required, placeholder= placeholder)&attributes(attributes.input)
            - var tail = !!addon ? (addon.tail ? addon.tail : input_blocks['tail']) : input_blocks['tail']
            if tail
                if (typeof tail) == 'function'
                    .input-group-addon&attributes(input_blocks['tail_attrs'])
                        - tail()
                else
                    .input-group-addon&attributes(input_blocks['tail_attrs'])= tail
    else
        input.form-control(id=id, type='text', required=required, placeholder= placeholder)&attributes(attributes.input)
    p.help-block= help_text
    - input_blocks = {}

mixin input-head-addon()
    -
        input_blocks['head'] = this.block
        input_blocks['head_attrs'] = this.attributes

mixin input-tail-addon()
    -
        input_blocks['tail'] = this.block
        input_blocks['tail_attrs'] = this.attributes

//- Checkbox - Block style
mixin checkbox(text,name,id)
    .checkbox
        label
            input(type="checkbox",name=name,id=id)
            = text

//- Checkbox - Inline style
mixin checkbox-inline(text,name,id)
    .checkbox-inline
        input(type="checkbox",name=name,id=id)
        = text

//- Radio box
mixin radio(text,name,id)
    .radio
        label
            input(type="radio",name=name,id=id)
            = text

//- Radio box - Inline style
mixin radio-inline(text,name,id)
    .radio-inline
        input(type="radio",name=name,id=id)
        = text

//- Submit button
mixin submit(text,name,id)
    .form-group
        button.btn.btn-default(type="submit",name=name,id=id)= text

//- Input group - both prepend and append options available, and block is passed
mixin input-group(prepend,append)
    .form-group
        .input-group
            unless !prepend
                .input-group-addon
                    = prepend
                block
                unless !append
                    .input-group-addon
                        = append

//- Icon button
mixin icon-btn(icon)
    button.btn.btn-default(type="button",aria-label=icon)
        +icon(icon)

//- Badges
mixin badge(text)
    span.badge= text
